# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vagrant

# Not sure where this file comes from, but I think it's from Vagrant.
ubuntu-xenial-16.04-cloudimg-console.log
